
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Marvel');

img
{
    width: 100%;
}

#versus
{
    display: flex; /* contexte sur le parent */
    flex-direction: column; /* direction d'affichage verticale */
    justify-content: center; /* alignement vertical */
}


.playerBox
{
    display: flex; /* contexte sur le parent */
    flex-direction: column; /* direction d'affichage verticale */
    justify-content: center; /* alignement vertical */
}

h1
{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    margin-top: 1.5em;

}

h3
{

    font-family: 'Marvel', sans-serif;
    font-size: 2.2vw;

}

#winBox
{
    background-repeat: no-repeat;
    background-size: cover;
    border:1px solid black;
    margin-top: 2em;
    margin-bottom: 2em;
}

#namePlayerOne, #namePlayerTwo
{
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 1.3em;
    padding-right: 1.3em;
}


/* controlleur audio */





/* CSS BACKLOG */
.backlog{

    text-align: center;
}
.backlog p
{
    text-align: center;
    font-family: 'Marvel', sans-serif;
    font-size: 2em;
}

.backlog h3
{
    color: #FF7F50;
    font-size: 3em;
}

.dmg
{
    color: red;
}

.life
{
    color: yellow;
}

.ko
{
    color: mediumvioletred;
}